@using System.Drawing.Imaging
@using Experiment.Extensions
@model Experiment.ViewModels.ZernikeInputResultModel

<p>Output image</p>
<img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.OutputImage.ToByteArray(ImageFormat.Bmp))}")" />

<p>HeightMap</p>
<img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.HeightMap.ToByteArray(ImageFormat.Bmp))}")" />
